<nav class="full reveal" id="navigation" data-reveal data-animation-in="fade-in fast" data-animation-out="fade-out fast">
  <div class="grid-x grid-padding-x grid-padding-y" style="height: 100%">
    <div class="shrink cell">

    {% for entry in site.data.navigation.header %}{% capture fullurl %}{{ site.baseurl }}{{ entry.url }}{% endcapture %}{% if fullurl == page.url %}{% assign current_page = fullurl %}{% break %}{% elsif page.url contains fullurl %}{% assign current_page = fullurl %}{% endif %}{% endfor %}

    <ul class="vertical menu" data-accordion-menu>
    {% for entry in site.data.navigation.header %}
    {% if entry.url == current_page %}
    {% assign current = 'class="active"' %}
    {% else %}
    {% assign current = null %}
    {% endif %}
    {% assign sublinks = entry.sublinks %}
    {% if sublinks %}
    <li{{ current }}><a href="#">{{ entry.title }}</a>
      <ul class="menu vertical nested">
        {% for sublink in sublinks %}
        <li><a href="{{ site.baseurl }}{{ sublink.url }}" data-toggle="navigation">{{ sublink.title }}</a></li>
        {% endfor %}
       </ul>
    </li>
    <ul class="vertical menu">
      {% else %}
        <li {{ current }}><a href="{{ site.baseurl }}{{ entry.url }}" class="h3" data-toggle="navigation">{{ entry.title }}</a></li>
      {% endif %}
      {% endfor %}
    </ul>

    </div>
  </div>
</nav>