@font-face {
  font-family: 'Canela Regular';
  src: 
  url('../fonts/canela-regular.woff2') format('woff2'),
  url('../fonts/canela-regular.woff') format('woff'),
  url('../fonts/canela-regular.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Canela Thin';
  src: 
  url('../fonts/canela-thin.woff2') format('woff2'),
  url('../fonts/canela-thin.woff') format('woff'),
  url('../fonts/canela-thin.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lyon Text Regular';
  src: 
  url('../fonts/lyon-text-regular.woff2') format('woff2'),
  url('../fonts/lyon-text-regular.woff') format('woff'),
  url('../fonts/lyon-text-regular.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lyon Text Italic';
  src: 
  url('../fonts/lyon-text-regular-italic.woff2') format('woff2'),
  url('../fonts/lyon-text-regular-italic.woff') format('woff'),
  url('../fonts/lyon-text-regular-italic.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gallery';
  src: 
  url('../fonts/gallery.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}