@font-face {
  font-family: 'Titling Gothic Normal Regular';
  src: 
  url('../fonts/titling-gothic-normal-regular.woff2') format('woff2'),
  url('../fonts/titling-gothic-normal-regular.woff') format('woff'),
  url('../fonts/titling-gothic-normal-regular.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Titling Gothic Wide Bold';
  src: 
  url('../fonts/titling-gothic-wide-bold.woff2') format('woff2'),
  url('../fonts/titling-gothic-wide-bold.woff') format('woff'),
  url('../fonts/titling-gothic-wide-bold.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PT Mono Bold';
  src: 
  url('../fonts/pt-mono-bold.woff2') format('woff2'),
  url('../fonts/pt-mono-bold.woff') format('woff'),
  url('../fonts/pt-mono-bold.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gallery';
  src: 
  url('../fonts/gallery.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}