.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
  vertical-align: center;
}

/* ==========================================
Single-colored icons can be modified like so:
.icon-name {
  font-size: 32px;
  color: red;
}
========================================== */

.icon-instagram {
  width: 0.857421875em;
}

.icon-twitter {
  width: 0.9287109375em;
}

.icon-facebook {
  width: 0.587890625em;
}

.icon-cannes-lions {
  width: 2.5166015625em;
}

.icon-premier-league {
  width: 0.7861328125em;
}

.icon-airbnb {
  width: 3.1669921875em;
}

.icon-logo {
  width: 4.388671875em;
}

.icon-logo {
  font-size: 1.5rem;
}

.icon-logo-large {
  width: 5.7177734375em;
  font-size: 10rem;
}

.prev-audio-item {
  @include breakpoint(small) {
  transform: rotate(0deg);
  }
  @include breakpoint(medium) {
  transform: rotate(90deg);
  }
}

.next-audio-item {
  @include breakpoint(small) {
  transform: rotate(0deg);
  }
  @include breakpoint(medium) {
  transform: rotate(90deg);
  }
}

.play-audio-item {
  @include breakpoint(small) {
  transform: rotate(0deg);
  }
  @include breakpoint(medium) {
  transform: rotate(90deg);
  }
}

.icon-socials {
  transform: rotate(90deg);
//   transform-origin: left top;
}

.icon-client {
  font-size: 3rem;
}