.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
  vertical-align: top;
}

/* ==========================================
Single-colored icons can be modified like so:
.icon-name {
  font-size: 32px;
  color: red;
}
========================================== */

.icon-instagram {
  width: 0.857421875em;
}

.icon-twitter {
  width: 0.9287109375em;
}

.icon-facebook {
  width: 0.587890625em;
}

.icon-cannes-lions {
  width: 2.5166015625em;
}

.icon-premier-league {
  width: 0.7861328125em;
}

.icon-airbnb {
  width: 3.1669921875em;
}

.icon-logo {
  width: 4.388671875em;
  vertical-align: text-bottom;
  margin-left: 10px;
}

.icon-learn {
  width: 4.275390625em;
}

.icon-listen {
  width: 3.4501953125em;
}

.icon-logo {
  @include breakpoint(small) {
  font-size: 1.25rem;
  }
  @include breakpoint(medium) {
  font-size: 1.75rem;
  }
}

.icon-logo-large {
  width: 5.7177734375em;
  font-size: 10rem;
}

.prev-audio-item {
  @include breakpoint(small) {
  transform: rotate(0deg);
  }
  @include breakpoint(medium) {
  transform: rotate(90deg);
  }
}

.next-audio-item {
  @include breakpoint(small) {
  transform: rotate(0deg);
  }
  @include breakpoint(medium) {
  transform: rotate(90deg);
  }
}

.play-audio-item {
  @include breakpoint(small) {
  transform: rotate(0deg);
  }
  @include breakpoint(medium) {
  transform: rotate(90deg);
  }
}

.icon-socials {
  transform: rotate(90deg);
//   transform-origin: left top;
}

.icon-client {
  font-size: 3rem;
}

.icon-learn {
  font-size: 2.5rem;
}

.icon-listen {
  font-size: 2.5rem;
}

.icon-load {
  width: 1.5078125em;
  font-size: 4rem;
}

.icon-link-small {
  width: 1.0498046875em;
  font-size: 2.5rem;
}

.icon-listen-small {
  width: 1.0498046875em;
  font-size: 2.5rem;
}

.icon-world-service {
  width: 2.228515625em;
}

.icon-bbc-radio-4 {
  width: 1.818359375em;
}

.icon-bbc-radio-3 {
  width: 1.818359375em;
}

.icon-bbc-world-service {
  width: 1.408203125em;
}

.icon-landrover {
  width: 1.96484375em;
}

.icon-theatreland {
  width: 5.072265625em;
}

.icon-ambassador {
  width: 1.3701171875em;
}

.icon-bellingcat {
  width: 0.9453125em;
}

.icon-unherd {
  width: 4.689453125em;
  font-size: 2rem;
}

.icon-play-button {
  font-size: 2.5rem;
}

.icon-play-button-hover {
  font-size: 2.5rem;
}

.icon-playing-button {
  font-size: 2.5rem;
}

.icon-playing-button-hover {
  font-size: 2.5rem;
}

.icon-link-button {
  font-size: 2.5rem;
}

.icon-link-button-hover {
  font-size: 2.5rem;
}

.icon-link-button-large {
  width: 3.7685546875em;
  font-size: 2.5rem;
}

.icon-link-button-large-hover {
  width: 3.7685546875em;
  font-size: 2.5rem;
}

.icon-play-button-large {
  width: 3.7685546875em;
  font-size: 2.5rem;
  vertical-align: top;
}

.icon-play-button-large-hover {
  width: 3.7685546875em;
  font-size: 2.5rem;
  vertical-align: top;
}

.icon-playing-button-large {
  width: 3.7685546875em;
  font-size: 2.5rem;
  vertical-align: top;
}

.icon-playing-button-large-hover {
  width: 3.7685546875em;
  font-size: 2.5rem;
  vertical-align: top;
}


.icon-show-more {
  width: 1.44140625em;
  font-size: 4rem;
}

.icon-show-less {
  width: 1.44140625em;
  font-size: 4rem;
}

.icon-audible {
  width: 3.1494140625em;
}

.icon-spotify {
  width: 3.1494140625em;
}

.icon-bbc-sounds {
  width: 2.3369140625em;
}