//  Table of Contents:
//
//   1. Mixins
//   2. Loading
//   3. Animations
//   4. Global
//   5. Color
//   6. Typography
//   7. Layout
//   8. Home
//   9. Hover Effect
//   10. Partials
//   11. Project


// 1. Mixins
// ---------

@mixin links ($link, $hover) {
  a {
    color: $link;
    &:hover {
      color: $hover;   
    }
  }
}

@mixin aspect-ratio($width, $height) {
  position: relative;
  &:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: ($height / $width) * 100%;
  }
 .content {
    transition: $primary-transition;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
  }
}

@function strip-unit($value) {
  @return $value / ($value * 0 + 1);
}

@mixin fluid-type($min-vw, $max-vw, $min-font-size, $max-font-size) {
  $u1: unit($min-vw);
  $u2: unit($max-vw);
  $u3: unit($min-font-size);
  $u4: unit($max-font-size);

  @if $u1 == $u2 and $u1 == $u3 and $u1 == $u4 {
    & {
      font-size: $min-font-size;
      @media screen and (min-width: $min-vw) {
        font-size: calc(#{$min-font-size} + #{strip-unit($max-font-size - $min-font-size)} * ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)}));
      }
      @media screen and (min-width: $max-vw) {
        font-size: $max-font-size;
      }
    }
  }
}

// 2. Loading
// ----------

.loader {
    z-index: 19;
    position: absolute;
//     background: $black;
/*
    background: rgb(251,81,49);
    background: linear-gradient(-90deg, rgba(251,81,49,1) 19%, rgba(68,39,211,1) 100%);
*/
    color: $white;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%; 
    opacity: 1;
    visibility: visible; 
    overflow: hidden;
  &.loading {
    opacity: 1;
  }
  &.loaded {
    z-index: 19;
    transition: opacity 500ms;
    transition-delay: 1500ms;
    opacity: 0;
  }
}

// 3. Animations
// -------------

.swup-transition-fade {
  transition: 0.4s;
  opacity: 1;
}

html.is-animating .swup-transition-fade {
  opacity: 0;
}

.swup-transition-left {
  transition: 0.4s;
  transform: translateX(0);
}

html.is-animating .swup-transition-left {
  opacity: 0;
  transform: translateX(-100px);
}

.swup-transition-up {
  transform: translateY(0);
  transition: 0.4s;
  transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
}

html.is-animating .swup-transition-up {
  opacity: 0;
  transform: translateY(-1rem);
}

// 4. Global
// ---------

body {
  cursor: default;
  font-kerning: normal;
  margin: 0;
  transition: background-color 400ms cubic-bezier(0.645, 0.045, 0.355, 1);
//   text-transform: lowercase;
}

body[data-aos-delay='custom'] [data-aos],
[data-aos][data-aos][data-aos-delay='custom']{
    transition-delay: 0s;
  
  &.aos-animate {
    transition-delay: 4000ms;
  }
}


/*
body {
  scroll-snap-type: y proximity;
  overflow-y: scroll;
}
*/

svg {
  max-width: 100%;
}

::selection {
  background: $primary-color;
  color: $white;
}

:focus {
  outline: 0;
}


// 5. Color
// --------

.white {
  color: $white;
  @include links ($white, $medium-gray);
}

.medium-gray {
  color: $medium-gray;
  @include links ($medium-gray, $black);
}

.light-gray {
  color: $light-gray;
  @include links ($light-gray, $medium-gray);
}

.dark-gray {
  color: $dark-gray;
  @include links ($dark-gray, $white);
}

.black {
  color: $black;
  @include links ($black, $medium-gray);
}

.primary-color {
  color: get-color(primary);
}

.secondary-color {
  color: get-color(secondary);
}

.light-gray-background {
  background-color: $light-gray;
}

.medium-gray-background {
  background-color: $medium-gray;
}

.dark-gray-background {
  background-color: $dark-gray;
}

.black-background {
  background-color: $black;
}

.white-background {
  background-color: $white;
  color: $black;
}

// 6. Typography
// -------------

.secondary-font {
  font-family: 'Canela Regular', serif;
}

.small {
  font-size: 80%;
  letter-spacing: 0.1rem;
}

.menu .menu-text {
  font-weight: normal;
}

strong, b {
  font-family: $sans-bold;
}

.active {
}

a {
  transition: color .35s cubic-bezier(.39, .575, .565, 1);
}

.underline {
    transition: border-bottom .35s cubic-bezier(.39, .575, .565, 1);
  @include breakpoint(small) {
    border-bottom: 1px solid get-color(primary);
    &:hover {
    border-bottom: 1px solid transparent;   
    }
  }
  @include breakpoint(medium) {
    border-bottom: 2px solid get-color(primary);
    &:hover {
    border-bottom: 2px solid transparent;   
    }
  }
}

i, cite, em, var, address, dfn {
  font-style: normal;
}

p {
  a {
    border-bottom: 2px solid get-color(primary);
    transition: border-bottom .35s cubic-bezier(.39, .575, .565, 1);
    &:hover {
    border-bottom: 2px solid transparent;   
    }
  }
}

.sans-regular {
  font-family: $sans-regular;
}

.sans-bold {
  font-family: $sans-bold;
}


.mono-regular {
  font-family: $mono-regular;
}

.mono-bold {
  font-family: $mono-bold;
}

// 7. Layout
// ---------

/*
main {
  background-color: green;
  height: 80vh;
}

.content {
  background-color: red;
  @include flex;
  @include flex-align-self(bottom);
}
*/

.padding-vertical-space-1 {
  @include breakpoint(small) {
    @include padding(1, null, 1, null);
  }
  @include breakpoint(medium) {
    @include padding(2, null, 2, null);
  }
  @include breakpoint(large) {
    @include padding(2, null, 2, null);
  }
}

.padding-space-1 {
  @include breakpoint(small) {
    @include padding(1, 1, 1, 1);
  }
  @include breakpoint(medium) {
    @include padding(3, 3, 3, 3);
  }
  @include breakpoint(large) {
    @include padding(5, 5, 5, 5);
  }
}

header, nav {
/*
  @include breakpoint(small) {
    @include padding(1, 1, 1, 1);
  }
  @include breakpoint(medium) {
    @include padding(1, 1, null, 1);
  }
  @include breakpoint(large) {
    @include padding(1, 3, null, 3);
  }
  @include breakpoint(xxlarge) {
    @include padding(1, 3, null, 3);
  }
*/
}

footer {
  @include breakpoint(small) {
    @include padding(1, 1, 1, 1);
  }
  @include breakpoint(medium) {
    @include padding(1, 1, 1, 1);
  }
  @include breakpoint(xxlarge) {
    @include padding(2, 4, null, 4);
  }
}

// 7. Images
// ---------

.gallery {
  @include xy-grid-layout(2, '.gallery-item');
}

.image--1-1 {
  @include aspect-ratio (1, 1);
  background-size: cover; 
  background-position: 50%;
}

.image--7-5 {
  @include aspect-ratio (7, 5);
  background-size: cover; 
  background-position: 50%;
}

.image--16-9 {
  @include aspect-ratio (16, 9);
  background-size: cover; 
  background-position: 50%;
}

.image--5-7 {
  @include aspect-ratio (5, 7);
  background-size: cover; 
  background-position: 50%;
  background-color: $black;
}

.image--gallery {
  @include aspect-ratio (5, 7);
  background-size: contain; 
  background-position: 50%;
  background-repeat: no-repeat;
}


// 8. Home
// -------	


// 10. Partials
// ------------

.excerpt a  {
  transition: $primary-transition;
  .content {
  background-color: rgba($black, 0);
  }
}

.excerpt a:hover  {
  .content {
  background-color: rgba($black, 0.25);
  }
}

// 11. Project
// -----------

.project__meta {
background-color: transparent;
top: 50% !important;
left: 50% !important;
transform: translate(-50%, -50%);
position: absolute;
}

.project__client {
  padding-right: 0.5rem;
}

[data-aos="fade-out"] {
  opacity: 1;
  transition-property: opacity;
  &.aos-animate {
    opacity: 0;
  }
}

// 6. Fluid Type
// -------------

$min_width: 320px;
$max_width: 1440px;
$min_font: 32px;
$max_font: 64px;

.hero {
  @include fluid-type($min_width, $max_width, $min_font, $max_font);
  line-height: 1;
}

.negative-margin-top {
  @include breakpoint(small) {
    margin-top: 0;
  }
  @include breakpoint(medium) {
    margin-top: 0;
  }
  @include breakpoint(large) {
    margin-top: -10rem;
  }
}

section {
  @include breakpoint(small) {
    min-height: -webkit-fill-available;
  }
  @include breakpoint(small) {
	  min-height: 100vh;
  }
  @include breakpoint(medium) {
	  min-height: 100vh;
  }
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 75% 50%;
}

.snapping {
  @include breakpoint(small) {
  padding: 2rem 1rem 2rem 1rem;
  }
  @include breakpoint(medium) {
  padding: 2rem 4rem;
  }
  @include breakpoint(large) {
  padding: 4rem 5rem;
  }
}

.non-snapping {
  @include breakpoint(small) {
  padding: 2rem 1rem 2rem 1rem;
  }
  @include breakpoint(medium) {
  padding: 2rem 4rem;
  }
  @include breakpoint(large) {
  padding: 4rem 5rem;
  }
}

.navigation-small {
  position: fixed;
  z-index: 10;
  right: 0;
  top: 0;
  left: 0;
}

$scrollhide-nav-transition-speed: 1s;

.scrollhide-nav {
  position: fixed;
  z-index: 10;
  right: 0;
  top: 0;
  left: 0;
  transition: transform $scrollhide-nav-transition-speed cubic-bezier(0.86, 0, 0.07, 1);

  &.hidden {
    transform: translateY(-100%);
  }
}

.hero {
/*
  background-attachment: fixed;
  -webkit-transform: translate3d(0,0,0);
*/
/*
background: rgb(255,68,27);
background: linear-gradient(90deg, rgba(255,68,27,1) 0%, rgba(125,67,198,1) 100%);
*/
}

/*
.hero {
  background-color: blue
}

.about {
  background-color: green
}

.editorial {
  background-color: $red
}

.archive {
  background-color: $red
}

.editorial-archive {
  background-color: $red;
}

.branded {
  background-color: pink
}

.contact {
  background-color: brown
}
*/

/*
.archive {
  background-color: $light-gray;
  color: $black;
  @include links ($black, $medium-gray);
  .button.clear {
  color: $black;
  }
}
*/

.navigation {
width: 100vh;
left: calc(100% - 3rem);
position: fixed;
top: 50%;
transform: rotate(-90deg) translate(-50%, 0%);
transform-origin: left top;
z-index: 21;
}

.audio {
width: 100vh;
left: 0;
position: fixed;
top: 50%;
transform: rotate(-90deg) translate(-50%, 0%);
transform-origin: left top;
z-index: 21;
}

.read-more-content,
 {
  display: none;
  margin-top: 1rem;

  &.expanded {
    .read-more {
      display: block;
    }
  }
}

.rotate-90 {
 @include rotate(90);
}

.about {
  @include breakpoint(small only) {
  background: rgb(251,81,49);
  background: linear-gradient(90deg, rgba(251,81,49,1) 19%, rgba(68,39,211,1) 100%);
  height: 100vh;
  }
}

.editorial {
  background: #4418d3
}

.branded {
  background: #fc5331
}

/*
p {
line-height: 1.6
}
*/

h2 p {
  @include breakpoint(small) {
  line-height: 1.4
  }
  @include breakpoint(medium) {
  line-height: 1.4
  }
  @include breakpoint(large) {
  line-height: 1.2
  }
}

.description p {
line-height: 1.6
}


.ml3 {
  font-size: 120px;
  letter-spacing: -5px 
}

/*
video {
  object-fit: cover;
  width: 100vw;
  @include breakpoint(small) {
    min-height: -webkit-fill-available;
  }
  @include breakpoint(medium) {
	  min-height: 100vh;
  }
  position: absolute;
  top: 0;
  left: 0;
  z-index: -10;
}
*/

header {
  @include breakpoint(small) {
  padding: 1rem;
  }
  @include breakpoint(medium) {
  padding: 1.5rem;
  }
  @include breakpoint(large) {
  padding: 2rem;
  }
}

/*
.testing {
  border-left: 1px solid inherit;
}
*/

.animation {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
}

.about {
  background: rgb(251,81,49);
  background: linear-gradient(90deg, rgba(251,81,49,1) 19%, rgba(68,39,211,1) 100%);
}

.contact {
  background: rgb(251,81,49);
  background: linear-gradient(90deg, rgba(251,81,49,1) 19%, rgba(68,39,211,1) 100%);
  position: relative;
}

.contact-animation {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
//   width: 50%;
}

/*
.button.clear:hover, .button.clear:focus {
background-color: red
}
*/



/*
.play-button .icon-pause-button {
  display: none;
}

.play-button:hover .icon-pause-button,
.play-button:active .icon-pause-button {
  display: none;
}
.play-button:hover .icon-play-button,
.play-button:active .icon-play-button {
  display: block;
}
*/