{% if projects.size > 0 %}
<div class="snapping archive">
  
  <div class="grid-container">
    <div class="grid-x grid-padding-x grid-padding-y" data-aos="fade-in">
      <div class="small-12 medium-8 cell">
      <h4 class="text-uppercase sans-bold margin-bottom-2"><span class="underline">{{ section }} Archive</span></h4>
      </div>
    </div>
  </div>

  <div class="grid-container">
    <div class="grid-x grid-padding-x grid-padding-y" data-aos="fade-in">
    {% for project in projects limit:6 %}
    {% include partials/project-vertical.html %}
    {% endfor %}
    </div>
  </div>

</div>
{% endif %}