{% for project in projects %}
{% assign image = project.image %}
<section class="snapping grid-y grid-padding-y align-justify" data-interchange="{% include images/interchange-img-small-12-medium-12-cell.html %}">
<div class="cell" data-aos="fade-in">
  <div class="grid-container">
    <div class="grid-x grid-padding-x grid-padding-y">
    <div class="small-12 cell">
    <h4 class="text-uppercase sans-bold margin-bottom-3"><span class="underline">{{ section }} Highlight</span></h4>
    </div>
    </div>
  </div>
</div>
<div class="cell" data-aos="fade-in">
  <div class="grid-container">
    <div class="grid-x grid-padding-x grid-padding-y">
      <div class="small-12 medium-10 cell">
        {% if project.logo %}
        <div class="h3 margin-bottom-1"><svg class="icon icon-{{project.logo}} icon-client"><use xlink:href="/assets/icons/symbol-defs.svg#icon-{{project.logo}}"></use></svg></div>
        {% else %}
        <div class="h3 margin-bottom-1">{{project.client }}</div>
        {% endif %}
        <div class="h1">{{project.title }}</div>
      </div>
    </div>
    <div class="grid-x grid-padding-x grid-padding-y align-justify">
      <div class="small-12 medium-6 cell description">
        <div class="">
        {{project.content | markdownify }}
        </div>

        {% if project.awards %}
        <div class="text-uppercase sans-bold margin-top-1 margin-bottom-1 small"><span class="underline">Awards</span></div>
        {% for award in project.awards %}
        <div>{{ award }}</div>
        {% endfor %}
        {% endif %}

      </div>
      <div class="small-12 medium-5 cell text-left medium-text-right">

      <div class="grid-y align-right" style="height: 100%">
      <div class="shrink cell">
        <div class="margin-bottom-1 mono-bold">Episodes:{{project.episodes }} — Run Time:{{project.run-time }}</div>
          <div>
          {% if project.listen %}
            <button class="button clear play-button-large" data-audio-title="{{project.title}}" data-src="{{project.listen}}">
              <svg class="icon icon-play-button-large"><use xlink:href="/assets/icons/symbol-defs.svg#icon-play-button-large"></use></svg>
              <svg class="icon icon-play-button-large-hover"><use xlink:href="/assets/icons/symbol-defs.svg#icon-play-button-large-hover"></use></svg>
              <svg class="icon icon-playing-button-large"><use xlink:href="/assets/icons/symbol-defs.svg#icon-playing-button-large"></use></svg>
              <svg class="icon icon-playing-button-large-hover"><use xlink:href="/assets/icons/symbol-defs.svg#icon-playing-button-large-hover"></use></svg>
            </button>
          {% endif %}
            <a href="{{project.link}}" target="_blank" class="button clear link-button-large">
              <svg class="icon icon-link-button-large"><use xlink:href="/assets/icons/symbol-defs.svg#icon-link-button-large"></use></svg>
              <svg class="icon icon-link-button-large-hover"><use xlink:href="/assets/icons/symbol-defs.svg#icon-link-button-large-hover"></use></svg>
            </a>
          </div>
      </div>
      </div>


      </div>
    </div>
  </div>
</div>
</section>
{% endfor %}