{% for project in projects %}
{% assign image = project.image %}
<section class="snapping grid-y grid-padding-y align-justify" data-interchange="{% include images/interchange-img-small-12-medium-12-cell.html %}">
<div class="cell" data-aos="fade-in">
  <div class="grid-container">
    <div class="grid-x grid-padding-x grid-padding-y">
    <div class="small-12 cell">
    <h4 class="text-uppercase sans-bold margin-bottom-3"><span class="underline">{{ section }} Highlight</span></h4>
    </div>
    </div>
  </div>
</div>
<div class="cell" data-aos="fade-in">
  <div class="grid-container">
    <div class="grid-x grid-padding-x grid-padding-y">
      <div class="small-12 medium-10 cell">
        {% if project.logo %}
        <div class="h3"><svg class="icon icon-{{project.logo}} icon-client"><use xlink:href="/assets/icons/symbol-defs.svg#icon-{{project.logo}}"></use></svg></div>
        {% else %}
        <div class="h3">{{project.client }}</div>
        {% endif %}
        <div class="h1">{{project.title }}</div>
      </div>
    </div>
    <div class="grid-x grid-padding-x grid-padding-y align-justify">
      <div class="small-12 medium-6 cell description">
        {{project.content | markdownify }}
      </div>
      <div class="small-12 medium-shrink cell text-left">
        <div class="margin-bottom-1 mono-bold">Episodes:{{project.episodes }} — Run Time:{{project.run-time }}</div>
          <div>
          {% if project.listen %}
            <button class="button clear play-button-large" data-audio-title="{{project.title}}" data-src="{{project.listen}}"><svg class="icon icon-play-button-large"><use xlink:href="/assets/icons/symbol-defs.svg#icon-play-button-large"></use></svg></button>
          {% endif %}
            <a href="{{project.link}}" target="_blank" class="button clear link-button-large"><svg class="icon icon-link-button-large"><use xlink:href="/assets/icons/symbol-defs.svg#icon-link-button-large"></use></svg></a>
          </div>
      </div>
    </div>
  </div>
</div>
</section>
{% endfor %}