<footer class="grid-x grid-padding-x grid-padding-y align-justify" id="details">
  <div class="shrink cell" data-aos="fade-in">
    <ul class="menu simple">
        {% for entry in site.data.navigation.footer %}{% capture fullurl %}{{ site.baseurl }}{{ entry.url }}{% endcapture %}{% if fullurl == page.url %}{% assign current_page = fullurl %}{% break %}{% elsif page.url contains fullurl %}{% assign current_page = fullurl %}{% endif %}{% endfor %}
        {% for entry in site.data.navigation.footer %}
        {% if entry.url == current_page %}
        {% assign current = 'class="active"' %}
        {% else %}
        {% assign current = null %}
        {% endif %}
        <li><a href="{{ site.baseurl }}{{ entry.url }}" {{ current }}>{{ entry.title }}</a></li>
        {% endfor %}
    </ul>
  </div>
  <div class="shrink cell" data-aos="fade-in">
    Copyright {{ 'now' | date: "%Y" }} {{site.company}}
  </div>
</footer>