<!-- Header -->
<header class="grid-x grid-padding-x grid-padding-y align-justify align-middle" style="width:100%"> 
  <div class="auto cell show-for-medium">
  {% if page.layout == 'home' %}
    <a href="#header"><svg class="icon icon-logo"><use xlink:href="/assets/icons/symbol-defs.svg#icon-logo"></use></svg></a>
    {% else %}  
    <a href="/"><svg class="icon icon-logo"><use xlink:href="/assets/icons/symbol-defs.svg#icon-logo"></use></svg></a>
  {% endif %}
  </div>


<!--
  <div class="shrink cell show-for-small-only">
    <ul class="menu align-center">
      <li><a href="{{site.social.facebook}}" target="_blank"><svg class="icon icon-socials icon-facebook"><use xlink:href="/assets/icons/symbol-defs.svg#icon-facebook"></use></svg></a></li>
      <li><a href="{{site.social.instagram}}" target="_blank"><svg class="icon icon-socials icon-instagram"><use xlink:href="/assets/icons/symbol-defs.svg#icon-instagram"></use></svg></a></li>
      <li><a href="{{site.social.twitter}}" target="_blank"><svg class="icon icon-socials icon-twitter"><use xlink:href="/assets/icons/symbol-defs.svg#icon-twitter"></use></svg></a></li>
    </ul>
  </div>
-->

</header>
<!-- End Header -->


