<!-- Header -->
<header class="grid-x align-justify align-middle scrollhide-nav show-for-small-only black-background" style="width:100%"> 
  <div class="auto cell" data-aos="fade-down" data-aos-delay="3000">
  {% if page.layout == 'home' %}
    <a href="#header"><svg class="icon icon-logo"><use xlink:href="/assets/icons/symbol-defs.svg#icon-logo"></use></svg></a>
    {% else %}  
    <a href="/"><svg class="icon icon-logo"><use xlink:href="/assets/icons/symbol-defs.svg#icon-logo"></use></svg></a>
  {% endif %}
  </div>

  <div class="shrink cell">

    <ul class="menu align-center">
<!--
      <li><audio playsinline preload="auto" id="playermobile" controls data-plyr-config='{ "title": "The Bellingcat Podcast - MH17" }'>
      <source src="/uploads/bellingcat-preview.mp3" type="audio/mp3" />
    </audio></li>
-->
      <li><a href="{{site.social.facebook}}" target="_blank"><svg class="icon icon-facebook"><use xlink:href="/assets/icons/symbol-defs.svg#icon-facebook"></use></svg></a></li>
      <li><a href="{{site.social.instagram}}" target="_blank"><svg class="icon icon-instagram"><use xlink:href="/assets/icons/symbol-defs.svg#icon-instagram"></use></svg></a></li>
      <li><a href="{{site.social.twitter}}" target="_blank"><svg class="icon icon-twitter"><use xlink:href="/assets/icons/symbol-defs.svg#icon-twitter"></use></svg></a></li>
    </ul>
  </div>

</header>
<!-- End Header -->


<!-- Header -->
<header class="grid-x align-justify align-middle scrollhide-nav show-for-medium" style="width:100%"> 
  <div class="auto cell" data-aos="fade-down" data-aos-delay="3000">
  {% if page.layout == 'home' %}
    <a href="#header"><svg class="icon icon-logo"><use xlink:href="/assets/icons/symbol-defs.svg#icon-logo"></use></svg></a>
    {% else %}  
    <a href="/"><svg class="icon icon-logo"><use xlink:href="/assets/icons/symbol-defs.svg#icon-logo"></use></svg></a>
  {% endif %}
  </div>

  <div class="shrink cell" data-aos="fade-down" data-aos-delay="3000">
    <ul class="menu align-center">
      <li><a href="{{site.social.facebook}}" target="_blank"><svg class="icon icon-facebook"><use xlink:href="/assets/icons/symbol-defs.svg#icon-facebook"></use></svg></a></li>
      <li><a href="{{site.social.instagram}}" target="_blank"><svg class="icon icon-instagram"><use xlink:href="/assets/icons/symbol-defs.svg#icon-instagram"></use></svg></a></li>
      <li><a href="{{site.social.twitter}}" target="_blank"><svg class="icon icon-twitter"><use xlink:href="/assets/icons/symbol-defs.svg#icon-twitter"></use></svg></a></li>
    </ul>
  </div>

</header>
<!-- End Header -->


