<!-- Hero -->
{% assign image = page.hero-image %}
<section class="grid-y grid-padding-y align-center hero" {% if image %}data-interchange="{% include images/interchange-img-small-12-medium-12-cell.html %}"{% endif %}>
  <div class="shrink cell">
    <div class="grid-container">

      <div class="grid-x grid-padding-x grid-padding-y align-center show-for-small-only">
        <div class="small-10 medium-8 cell text-center aos-init aos-animate" data-aos="fade-in">
          <h1 class="font-wide"><svg class="icon icon-logo-large"><use xlink:href="/assets/icons/symbol-defs.svg#icon-logo"></use></svg></h1>
        </div>
      </div>

      <div class="grid-x grid-padding-x grid-padding-y align-center show-for-medium">
        <div class="small-8 cell text-center">

          <lottie-player src="https://assets8.lottiefiles.com/packages/lf20_EvcBAH.json"  background="transparent"  speed="1"  style="width: 100%; height: 100%;" loop autoplay ></lottie-player>

        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Hero -->