<!-- Hero -->
<section class="grid-y grid-padding-y align-center hero">
  <div class="shrink cell">
    <div class="grid-container">

      <div class="grid-x grid-padding-x grid-padding-y align-center">
        <div class="small-10 medium-8 cell text-center aos-init aos-animate" data-aos="fade-in">
          <svg class="icon icon-logo-large"><use xlink:href="/assets/icons/symbol-defs.svg#icon-logo"></use></svg>
        </div>
      </div>

<!--
      <div class="grid-x grid-padding-x grid-padding-y align-center show-for-medium">
        <div class="small-11 cell text-center">
          <div id="logo"></div>
        </div>
      </div>
-->

    </div>
  </div>
</section>
<!-- End Hero -->