---
layout: default
---

<div class="grid-container">
  <div class="grid-x grid-padding-x grid-padding-y">
  <div class="small-6 cell">
  <h4 class="text-uppercase sans-bold margin-bottom-3"><span class="underline">{{ page.collection }} Archive</span></h4>
  </div>
  <div class="small-6 cell">
  <a href="/" class="text-uppercase sans-bold margin-bottom-3 h4"><span class="underline">Back</span></a>
  </div>
  </div>
</div>

{% if page.collection == 'editorial' %}
{% assign projects = site.editorial | sort: 'position' | where: "is-highlight", "false" %}
{% else %}
{% assign projects = site.branded | sort: 'position' | where: "is-highlight", "false" %}
{% endif %}
<!-- Page Content -->
{% for project in projects %}
  <div class="grid-container">
    <div class="grid-x" data-aos="fade-in" style="padding-bottom: 4px;">

      <div class="small-12 large-4 cell">
        {% assign image = project.image %}
        <div class="image--7-5" data-interchange="{% include images/interchange-img-small-12-medium-4-cell.html %}">
        <div class="content">
        <div class="grid-y align-center" style="height: 100%">

        <div class="shrink cell text-center">
        {% if project.logo %}
        <div><svg class="icon icon-{{project.logo}} icon-client"><use xlink:href="/assets/icons/symbol-defs.svg#icon-{{project.logo}}"></use></svg></div>
        {% else %}
        <div class="h5">{{project.client }}</div>
        {% endif %}
        </div>

        </div>
        </div>

        </div>      
      </div>

      <div class="small-12 large-5 cell black-background padding-1">

      <div class="grid-y align-justify" style="height: 100%">

        <div class="shrink cell">

        <div class="h3 margin-top-0">{{project.title}}</div>
  
        </div>
        
        <div class="shrink cell">
        <div class="margin-bottom-0">{{project.content | remove: '<p>' | remove: '</p>'}}</div>
        </div>

      </div>

      </div>

      <div class="small-12 large-3 cell black-background padding-1">

      <div class="grid-y align-justify" style="height: 100%">
        <div class="shrink cell">
          <div class="margin-bottom-0 mono-bold">Episodes:{{project.episodes }}</div>
          <div class="margin-bottom-1 mono-bold">Run Time:{{project.run-time }}</div>
        </div>

        <div class="shrink cell">
          {% if project.listen %}
            <button class="button clear play-button-large" data-audio-title="{{project.title}}" data-src="{{project.listen}}">
              <svg class="icon icon-play-button-large"><use xlink:href="/assets/icons/symbol-defs.svg#icon-play-button-large"></use></svg>
              <svg class="icon icon-play-button-large-hover"><use xlink:href="/assets/icons/symbol-defs.svg#icon-play-button-large-hover"></use></svg>
              <svg class="icon icon-playing-button-large"><use xlink:href="/assets/icons/symbol-defs.svg#icon-playing-button-large"></use></svg>
              <svg class="icon icon-playing-button-large-hover"><use xlink:href="/assets/icons/symbol-defs.svg#icon-playing-button-large-hover"></use></svg>
            </button>
          {% endif %}
            <a href="{{project.link}}" target="_blank" class="button clear link-button-large">
              <svg class="icon icon-link-button-large"><use xlink:href="/assets/icons/symbol-defs.svg#icon-link-button-large"></use></svg>
              <svg class="icon icon-link-button-large-hover"><use xlink:href="/assets/icons/symbol-defs.svg#icon-link-button-large-hover"></use></svg>
            </a>
        </div>
      </div>
          
      </div>

    </div>
  </div>
{% endfor %}
<!-- End Page Content -->