---
layout: compress
---

<!DOCTYPE html>
<html lang="en" dir="ltr" class="no-js">

<!-- Head -->
{% include site/head.html %}
<!-- End Head -->

<body class="{{page.layout | slugify}}">

<!-- Header -->
{% include site/header.html %}
<!-- End Header -->

<!-- Main -->
<main class="grid-x align-middle swup-transition-fade" id="swup-body">
  <div class="small-12 cell">
    {{content}}
  </div>
</main>
<!-- Main -->

<!-- Navigation -->
{% include reveal/navigation.html %}
<!-- End Navigation -->

</body>

</html>