---
layout: compress
---

<!DOCTYPE html>
<html lang="en" dir="ltr" class="no-js">

<!-- Head -->
{% include site/head.html %}
<!-- End Head -->

<body class="{{page.layout | slugify}} grid-y" style="height: 100vh;">


{% if page.layout == "home" %}
<div class="grid-y align-center loader hide">
  <div class="shrink cell">
<!--     {% include site/loading.html %} -->
  </div>
</div>
{% endif %}

<!-- Header -->
{% include site/header.html %}
<!-- End Header -->

<!-- Main -->
<div class="cell auto swup-transition-fade" id="swup-body">
  <main class="grid-x align-middle" style="min-height: 100%">
    <div class="cell">
    {{content}}
    </div>
  </main>
</div>
<!-- Main -->

<!-- Navigation -->
{% include reveal/navigation.html %}
<!-- End Navigation -->

</body>

</html>