---
layout: compress
---

<!DOCTYPE html>
<html lang="en" dir="ltr" class="no-js">

<!-- Head -->
{% include site/head.html %}
<!-- End Head -->

<body class="{{page.layout | slugify}}" id="header">

<!-- Navigation -->
<div class="show-for-medium">
{% include site/navigation.html %}
</div>
<!-- End Navigation -->

<!-- Audio Player -->
<div class="show-for-medium">
{% include site/audio.html %}
</div>
<!-- Audio Player -->

<!-- Main -->
{{content}}
<!-- Main -->

<!-- Footer -->
{% include site/footer.html %}
<!-- End Footer -->

</body>

</html>