---
layout: compress
---

<!DOCTYPE html>
<html lang="en" dir="ltr" class="no-js">

<!-- Head -->
{% include site/head.html %}
<!-- End Head -->

<body class="{{page.layout | slugify}}" id="header">

<!-- Holding -->
<section class="grid-y grid-padding-y align-center black-background" style="height: 100vh">
  <div class="cell">
    <div class="grid-container">
      <div class="grid-x grid-padding-x grid-padding-y align-center">
        <div class="small-10 medium-8 cell text-center" data-aos="fade-in">
          <h1 class="font-wide"><svg class="icon icon-logo-large"><use xlink:href="/assets/icons/symbol-defs.svg#icon-logo"></use></svg></h1>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Holding -->

</body>

</html>