---
layout: default
---

<!-- About -->
<section class="snapping about" id="about">

  <div class="grid-y align-center loader hide">
    <div class="shrink cell">
      {% include site/loading.html %}
    </div>
  </div>

  <div class="grid-y align-center about--text" style="height: 100%" data-aos="fade-in" data-aos-delay="custom">
    <div class="shrink cell">
      <div class="grid-container">

        <div class="grid-x grid-padding-x align-center">
          <div class="small-11 medium-10 large-10 cell">
            <h2>{{page.about-text}}</h2>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="grid-y align-center about--animation" style="height: 100%">
    <div class="shrink cell text-center">
        <div class="grid-x align-left">
          <div class="small-12 cell">
            <div id="circles"></div>
          </div>
        </div>
    </div>
  </div>

</section>
<!-- End About -->

<!-- Editorial -->
<section class="snapping grid-y grid-padding-y align-center editorial" id="editorial">
  <div class="cell">
    <div class="grid-container">
      <div class="grid-x grid-padding-x grid-padding-y">
        <div class="small-12 medium-10 large-10 cell" data-aos="fade-in">
          <h4 class="text-uppercase sans-bold margin-bottom-3"><span class="underline">Editorial</span></h4>
          <div class="h2">{{page.editorial-text | markdownify}}</div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Editorial -->

<!-- Editorial Highlights -->
{% assign projects = site.editorial | sort: 'position' | where: "is-highlight", "true" %}
{% assign section = "Editorial" %}
{% assign section-number = "2" %}
{% include partials/highlight.html %}
<!-- End Editorial Highlights -->

<!-- Editorial Archive -->
{% assign projects = site.editorial | sort: 'position' | where: "is-highlight", "false" %}
{% assign section = "Editorial" %}
{% assign section-number = "2" %}
{% include partials/archive.html %}
<!-- End Editorial Archive -->

<!-- Branded -->
<section class="snapping grid-y grid-padding-y align-center branded" id="branded">
  <div class="cell"  data-aos="fade-in">
    <div class="grid-container">
      <div class="grid-x grid-padding-x grid-padding-y">
        <div class="small-12 medium-10 large-10 cell">
          <h4 class="text-uppercase sans-bold margin-bottom-3"><span class="underline">Branded</span></h4>
          <h2>{{page.branded-text | markdownify}}</h2>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Branded -->

<!-- Branded Highlights -->
{% assign projects = site.branded | sort: 'position' | where: "is-highlight", "true" %}
{% assign section = "Branded" %}
{% assign section-number = "3" %}
{% include partials/highlight.html %}
<!-- End Branded Highlights -->

<!-- Branded Archive -->
{% assign projects = site.branded | sort: 'position' | where: "is-highlight", "false" %}
{% assign section = "Branded" %}
{% assign section-number = "3" %}
{% include partials/archive.html %}
<!-- End Branded Archive -->

<!-- Contact -->
<section class="snapping grid-y grid-padding-y align-center contact" id="contact">
  <div class="cell" data-aos="fade-in" style="z-index: 5">
    <div class="grid-container">
      <div class="grid-x grid-padding-x grid-padding-y">
        <div class="small-12 medium-8 cell">
          <h4 class="text-uppercase sans-bold margin-bottom-3"><span class="underline">Contact</span></h4>
          <div class="h2">{{page.contact-text | markdownify}}</div>
          <div class="margin-bottom-2 h2"><a href="mailto:{{site.email}}" class="underline">{{site.email}}</a></div>
          <div>Studio 30, Hackney Downs Studio</div>
          <div>17 Amhurst Terrace, Hackney Downs, London E8 2BT</div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Contact -->