---
layout: default
---

<!-- Hero -->
{% assign image = page.hero-image %}
<section class="grid-y grid-padding-y align-center hero" data-interchange="{% include images/interchange-img-small-12-medium-12-cell.html %}">
  <div class="cell">
    <div class="grid-container">
      <div class="grid-x grid-padding-x grid-padding-y align-center">
        <div class="small-10 medium-8 cell text-center">
          <svg class="icon icon-logo-large"><use xlink:href="/assets/icons/symbol-defs.svg#icon-logo"></use></svg>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Hero -->

<!-- About -->
{% assign image = page.hero-image %}
<section class="grid-y grid-padding-y align-center about" data-interchange="{% include images/interchange-img-small-12-medium-12-cell.html %}">
  <div class="cell">
    <div class="grid-container">
      <div class="grid-x grid-padding-x grid-padding-y">
        <div class="small-12 medium-8 cell">
          <h2 class="text-uppercase sans-bold">#01 About</h2>
          <h2>{{page.about-text}}</h2>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End About -->

<!-- Editorial -->
<section class="grid-y grid-padding-y align-center editorial" id="editorial">
  <div class="cell">
    <div class="grid-container">
      <div class="grid-x grid-padding-x grid-padding-y">
        <div class="small-12 medium-10 large-10 cell h2">
          <div class="sans-bold text-uppercase margin-bottom-1">#02 Editorial</div>
          {{page.editorial-text | markdownify}}
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Editorial -->

<!-- Editorial Highlights -->
{% assign projects = site.editorial | sort: 'position' | where: "is-highlight", "true" %}
{% for project in projects %}
{% assign image = project.image %}
<section class="grid-y grid-padding-y align-center about" data-interchange="{% include images/interchange-img-small-12-medium-12-cell.html %}">
  <div class="cell">
    <div class="grid-container">
      <div class="grid-x grid-padding-x grid-padding-y">
        <div class="small-12 medium-8 cell">
          <div class="h3">{{project.client }}</div>
          <div class="h1">{{project.title }}</div>
        </div>
      </div>
      <div class="grid-x grid-padding-x grid-padding-y">
        <div class="small-12 medium-6 cell">
          {{project.content }}
        </div>
        <div class="small-12 medium-6 cell text-left medium-text-right">
          <div class="margin-bottom-1 mono-bold">Episodes:{{project.episodes }} — Run Time:{{project.run-time }}</div>
            <div>
              <a href="{{project.listen}}" class="button hollow mono-bold">Listen <svg class="icon icon-play_arrow"><use xlink:href="/assets/icons/symbol-defs.svg#icon-play_arrow"></use></svg></a>
              <a href="{{project.link}}" class="button hollow mono-bold">Learn More <svg class="icon icon-call_made"><use xlink:href="/assets/icons/symbol-defs.svg#icon-call_made"></use></svg></a>
            </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endfor %}
<!-- End Editorial Highlights -->

<!-- Editorial Archive -->
<div class="editorial-archive">
  <div class="grid-container">
    <div class="grid-x grid-padding-x grid-padding-y">
      <div class="small-12 medium-8 cell">
        <div class="h2 sans-bold text-uppercase">#02 Editorial Archive</div>
      </div>
    </div>
  </div>

  {% assign projects = site.editorial | sort: 'position' | where: "is-highlight", "false" %}
  {% for project in projects %}
  <div class="grid-container">
    <div class="grid-x grid-padding-x grid-padding-y">

      <div class="small-12 medium-4 cell">
        {% assign image = project.image %}
        <div class="image--1-1" data-interchange="{% include images/interchange-img-small-12-medium-4-cell.html %}"></div>      
      </div>

      <div class="small-12 medium-8 cell">
        <div class="h2 margin-top-0">{{project.title }}</div>
        <div class="margin-bottom-2">{{project.content }}</div>
        <div class="margin-bottom-2 mono-bold">Episodes:{{project.episodes }} — Run Time:{{project.run-time }}</div>
        <div>
          <a href="{{project.listen}}" class="button hollow mono-bold">Listen <svg class="icon icon-play_arrow"><use xlink:href="/assets/icons/symbol-defs.svg#icon-play_arrow"></use></svg></a>
          <a href="{{project.link}}" class="button hollow mono-bold">Learn More <svg class="icon icon-call_made"><use xlink:href="/assets/icons/symbol-defs.svg#icon-call_made"></use></svg></a>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}

</div>
<!-- End Editorial Archive -->

<!-- Branded -->
{% assign image = page.hero-image %}
<section class="grid-y grid-padding-y align-center hero" data-interchange="{% include images/interchange-img-small-12-medium-12-cell.html %}">
  <div class="cell">
    <div class="grid-container">
      <div class="grid-x grid-padding-x grid-padding-y">
        <div class="small-12 medium-10 large-10 cell h2">
          <div class="text-uppercase sans-bold margin-bottom-1">#03 Branded</div>
          {{page.branded-text | markdownify}}
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Branded -->

<!-- Branded Highlights -->
{% assign projects = site.branded | sort: 'position' | where: "is-highlight", "true" %}
{% for project in projects %}
{% assign image = project.image %}
<section class="grid-y grid-padding-y align-center about" data-interchange="{% include images/interchange-img-small-12-medium-12-cell.html %}">
  <div class="cell">
    <div class="grid-container">
      <div class="grid-x grid-padding-x grid-padding-y">
        <div class="small-12 medium-8 cell">
          <div class="h3">{{project.client }}</div>
          <div class="h1">{{project.title }}</div>
        </div>
      </div>
      <div class="grid-x grid-padding-x grid-padding-y">
        <div class="small-12 medium-6 cell">
          {{project.content }}
        </div>
        <div class="small-12 medium-6 cell text-left medium-text-right">
          <div class="margin-bottom-1 mono-bold">Episodes:{{project.episodes }} — Run Time:{{project.run-time }}</div>
            <div>
              <a href="{{project.listen}}" class="button hollow mono-bold">Listen <svg class="icon icon-play_arrow"><use xlink:href="/assets/icons/symbol-defs.svg#icon-play_arrow"></use></svg></a>
              <a href="{{project.link}}" class="button hollow mono-bold">Learn More <svg class="icon icon-call_made"><use xlink:href="/assets/icons/symbol-defs.svg#icon-call_made"></use></svg></a>
            </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endfor %}
<!-- End Branded Highlights -->

<!-- Editorial Archive -->
<div class="editorial-archive">
  <div class="grid-container">
    <div class="grid-x grid-padding-x grid-padding-y">
      <div class="small-12 medium-8 cell">
        <div class="h2 sans-bold text-uppercase">#02 Editorial Archive</div>
      </div>
    </div>
  </div>

  {% assign projects = site.branded | sort: 'position' | where: "is-highlight", "false" %}
  {% for project in projects %}
  <div class="grid-container">
    <div class="grid-x grid-padding-x grid-padding-y">

      <div class="small-12 medium-4 cell">
        {% assign image = project.image %}
        <div class="image--1-1" data-interchange="{% include images/interchange-img-small-12-medium-4-cell.html %}"></div>      
      </div>

      <div class="small-12 medium-8 cell">
        <div class="h2 margin-top-0">{{project.title }}</div>
        <div class="margin-bottom-2">{{project.content }}</div>
        <div class="margin-bottom-2 mono-bold">Episodes:{{project.episodes }} — Run Time:{{project.run-time }}</div>
        <div>
          <a href="{{project.listen}}" class="button hollow mono-bold">Listen <svg class="icon icon-play_arrow"><use xlink:href="/assets/icons/symbol-defs.svg#icon-play_arrow"></use></svg></a>
          <a href="{{project.link}}" class="button hollow mono-bold">Learn More <svg class="icon icon-call_made"><use xlink:href="/assets/icons/symbol-defs.svg#icon-call_made"></use></svg></a>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}

</div>
<!-- End Editorial Archive -->

<!-- Contact -->
{% assign image = page.hero-image %}
<section class="grid-y grid-padding-y align-center contact" data-interchange="{% include images/interchange-img-small-12-medium-12-cell.html %}">
  <div class="cell">
    <div class="grid-container">
      <div class="grid-x grid-padding-x grid-padding-y">
        <div class="small-12 medium-8 cell h2">
          <div class="text-uppercase sans-bold margin-bottom-1">#04 Contact</div>
          <div>{{page.contact-text | markdownify}}</div>
          <div>{{site.email}}
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Contact -->